#layout {
    width: 100%; 
    height: 100vh;
    text-align: center;
}

#menu_superior{
    height: 150px;
    background: rgb(4, 243, 211);
    background-image: url("https://i.pinimg.com/originals/57/74/8e/57748e64020a1a422ab1a42884dfd26e.jpg");
}

#menu_esquerdo{
    width: 300px; 
    text-align: center;
    background: rgb(192, 192, 192);
}
#conteudo{
    background-color: rgba(226, 222, 222, 0.959);
}
#titulo_menu_superior{
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-shadow: 5px 5px black;
}